/* CSS for main classes */

.selector-for-some-widget {
    box-sizing: content-box;
}

.navbar {
    background-image: linear-gradient(to right, rgb(214, 73, 132), rgb(255, 145, 0));
}

.jumbotron {
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1em;
}

.btn-group {
    margin-left: auto;
    margin-right: 0;
}

#navbar-brand {
    color: rgb(117, 40, 240);
    font-weight: 800;
}

* {
    color: rgb(70, 70, 70);
}


/* CSS for project selection */

.projectcard {
    margin: 5px;
    padding: 5px;
    height: 3.5rem;
    border: solid rgb(182, 180, 180) 2px;
    border-radius: 5px;
    vertical-align: middle;
    width: 500px;
    display: flex;
    align-items: center;
}


/* CSS for webapp */

.projectcolumn {
    color: rgb(181, 188, 194);
    margin: 5px;
    padding: 5px;
    height: 3.5rem;
    border: solid rgb(182, 180, 180) 2px;
    border-radius: 5px;
    vertical-align: middle;
    width: 500px;
    display: flex;
    align-items: center;
}